<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-window.log" >


  <targets>
    <target xsi:type="RichTextBox"
            name="target1"
            layout="${message}"
         
            autoScroll="true"
            maxLines="10"
     
            useDefaultRowColoringRules="true" />

    <target xsi:type="RichTextBox"
            name="target2"
            layout="${message} ${rtb-link:link text in config}"
         
            formName="Form1"
            ControlName="richTextBox1"
            autoScroll="true"
            maxLines="20"
     
            allowAccessoryFormCreation="false"
            messageRetention="OnlyMissed"
            
            supportLinks="true"
            
            useDefaultRowColoringRules="true" />

    <target xsi:type="RichTextBox"
                name="target3"
                layout="${rtb-link:inner=${event-properties:item=ShowLink2}} ${message} ${rtb-link:inner=${event-properties:item=ShowLink}}"
         
                formName="Form1"
                ControlName="richTextBox2"
                autoScroll="true"
                maxLines="20"
     
                allowAccessoryFormCreation="false"
                messageRetention="OnlyMissed"
            
                supportLinks="true"
            
                useDefaultRowColoringRules="true" />            
            
           
      <!--<word-coloring backgroundColor="String"
                   fontColor="String" ignoreCase="Boolean"
                   regex="String"
                   style="Enum"
                   text="String"
                   wholeWords="Boolean"/>


    <row-coloring backgroundColor="String"
                  condition="Condition"
                 fontColor="String"
                 style="Enum"/>-->
  </targets>
  <rules>

    <logger name="*" minlevel="Debug" writeTo="target1,target2,target3" />

  </rules>
</nlog>